html {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

* {
  font-size: inherit;
  font-family: inherit;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #000000;
	
}

body.inverted {
	background-color: #ffffff;
}

#CurrentMode{
	color:#000000;
	z-index: -10000;
	position: absolute;
  left: -1000px;

}

body.inverted #CurrentMode{
	color:#ffffff
}

button{
	-webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
	-ms-user-select: none;
	align-items: flex-start;
  text-align: center;
  cursor: default;
  background-color: none;
  box-sizing: border-box;
  padding: 0px;
  border-width: 0px;
  border-style: none;
  border-image: initial;
}

#Menubar {
	display: block;
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	background-color: #ffffff;
}

body.inverted #Menubar {
	background-color: #000000;
}



#Menubar .right {
	float: right;
	height: 50px;
	display: inline-block;
}

#Menubar .left {
	float: left;
	height: 50px;
	display: inline-block;;
}

#PullPeg {
	display: block;
	width: 28px;
	height: 28px;
	border-radius: 30px;
	border: solid black 1px;
	float: right;
	margin: .7em 1em 1em 0;
	background: white;
}

body.inverted #PullPeg {
	background: black;
	border: solid white 1px;
}

#PullPeg:hover {
	cursor: pointer;
}

#PullPeg.active {
	-webkit-box-shadow: 0px 0px 10px 5px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 10px 5px rgba(255,255,255,1);
	box-shadow: 0px 0px 10px 5px rgba(255,255,255,1);
}

#ClearBoard {
	background: red;
	color: #ffffff;
	display: block;
	border-radius: 30px;
	width: 30px;
	height: 30px;
	text-align: center;
	float: right;
	margin: .7em 1em 1em 0;
}

.sp-replacer{
	padding-top: .7em;
}

#ClearBoard:hover {
	cursor: pointer;
}

#ClearBoard span {
	padding-top: 0px;
	font-size: 1.5em;
}

#BoardArea{
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none; 
}

#TouchBright {
	margin: 0 auto;
	display: block;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none; 
	cursor: pointer;
}

#TouchBright .circle.selected{
	stroke-width: 2;
	stroke-opacity: 1;
}

#TouchBright .circle:focus{
	outline: none;
}

#DotOptions{
	background: #000;
	color: #fff;
}

[data-inclusive-menu] {
  position: relative;
	display: inline-block;
	margin-top: .4em;
	margin-left: .7em;
	font-size: 1.3em;
}

[data-inclusive-menu-opens],
[data-inclusive-menu] [role^="menuitem"] {
  text-align: left;
  border: 0;
}

[data-inclusive-menu] [role="menu"] {
  position: absolute;
  left: 0;
  background-color: white;
}

body.inverted [data-inclusive-menu] [role="menu"] {
	background-color: black;
}

[data-inclusive-menu] [data-inclusive-menu-from="right"] {
  left: auto;
  right: 0;
}

[data-inclusive-menu] [role^="menuitem"] {
  display: block;
  min-width: 100%;
	white-space: nowrap;
	padding: .5em;
}

[data-inclusive-menu] [role^="menuitem"][aria-checked="true"]::before {
  content: '\2713\0020';
}

[data-inclusive-menu]  button {
		padding: 0.25rem 1rem;
		background: white;
		color: black;
}

body.inverted [data-inclusive-menu]  button {
		padding: 0.25rem 1rem;
		background: black;
		color: white;
}

[data-inclusive-menu]  button:focus, button:hover {
		outline: none;
		background-color: #3737c8;
		color: white;
}

[data-inclusive-menu] [role^="menuitem"] {
		margin-top: 3px;
}

	@media print {

	#TouchBright .circle{
		stroke: none;
	}

	#menubar{
		display: none;
	}
}


.modal {
	width:100%;
	height:100%;
	z-index:1; 
	background-color: rgba(240, 243, 246, 0.5);
	position:fixed;
	top:0;
	left:0;
	margin:0;
	padding:0;
	display:none;
}



 .modal-container {
	height: 75%;
	margin: 5% auto;
	max-height: 57em;
	max-width: 66em;
	width: 85%;
	padding: 3em;
	margin: 0 auto;
	border: thin #000 solid;
  background-color: white;
	z-index:3; 
  overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	display: block;
}